<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.user.dao.UserAddressMapper">
	<resultMap id="BaseResultMap" type="com.afd.model.user.UserAddress">
		<id column="addr_id" property="addrId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="receiver" property="receiver" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="DECIMAL" />
		<result column="province_name" property="provinceName"
			jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="DECIMAL" />
		<result column="city_name" property="cityName" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="DECIMAL" />
		<result column="district_name" property="districtName"
			jdbcType="VARCHAR" />
		<result column="town" property="town" jdbcType="DECIMAL" />
		<result column="town_name" property="townName" jdbcType="VARCHAR" />
		<result column="addr" property="addr" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="CHAR" />
		<result column="zip_code" property="zipCode" jdbcType="CHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="is_default" property="isDefault" jdbcType="CHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="land_mark" property="landMark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		addr_id, user_id, receiver, province, province_name, city, city_name,
		district, district_name,
		town, town_name, addr, tel, mobile, zip_code, status, is_default,
		create_date, update_date,
		land_mark
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user_address
		where addr_id = #{addrId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_user_address
		where addr_id = #{addrId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.afd.model.user.UserAddress">
		insert into t_user_address (addr_id, user_id, receiver,
		province, province_name, city,
		city_name, district, district_name,
		town, town_name, addr,
		tel, mobile, zip_code, status,
		is_default, create_date, update_date,
		land_mark)
		values (#{addrId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{receiver,jdbcType=VARCHAR},
		#{province,jdbcType=DECIMAL}, #{provinceName,jdbcType=VARCHAR}, #{city,jdbcType=DECIMAL},
		#{cityName,jdbcType=VARCHAR}, #{district,jdbcType=DECIMAL},
		#{districtName,jdbcType=VARCHAR},
		#{town,jdbcType=DECIMAL}, #{townName,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR},
		#{tel,jdbcType=VARCHAR}, #{mobile,jdbcType=CHAR},
		#{zipCode,jdbcType=CHAR}, #{status,jdbcType=CHAR},
		#{isDefault,jdbcType=CHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{updateDate,jdbcType=TIMESTAMP},
		#{landMark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.afd.model.user.UserAddress">
		insert into t_user_address
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="addrId != null">
				addr_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="receiver != null">
				receiver,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="provinceName != null">
				province_name,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="cityName != null">
				city_name,
			</if>
			<if test="district != null">
				district,
			</if>
			<if test="districtName != null">
				district_name,
			</if>
			<if test="town != null">
				town,
			</if>
			<if test="townName != null">
				town_name,
			</if>
			<if test="addr != null">
				addr,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="zipCode != null">
				zip_code,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="isDefault != null">
				is_default,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="landMark != null">
				land_mark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="addrId != null">
				#{addrId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="receiver != null">
				#{receiver,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=DECIMAL},
			</if>
			<if test="provinceName != null">
				#{provinceName,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=DECIMAL},
			</if>
			<if test="cityName != null">
				#{cityName,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				#{district,jdbcType=DECIMAL},
			</if>
			<if test="districtName != null">
				#{districtName,jdbcType=VARCHAR},
			</if>
			<if test="town != null">
				#{town,jdbcType=DECIMAL},
			</if>
			<if test="townName != null">
				#{townName,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				#{addr,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=CHAR},
			</if>
			<if test="zipCode != null">
				#{zipCode,jdbcType=CHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="isDefault != null">
				#{isDefault,jdbcType=CHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="landMark != null">
				#{landMark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.afd.model.user.UserAddress">
		update t_user_address
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="receiver != null">
				receiver = #{receiver,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=DECIMAL},
			</if>
			<if test="provinceName != null">
				province_name = #{provinceName,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=DECIMAL},
			</if>
			<if test="cityName != null">
				city_name = #{cityName,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				district = #{district,jdbcType=DECIMAL},
			</if>
			<if test="districtName != null">
				district_name = #{districtName,jdbcType=VARCHAR},
			</if>
			<if test="town != null">
				town = #{town,jdbcType=DECIMAL},
			</if>
			<if test="townName != null">
				town_name = #{townName,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=CHAR},
			</if>
			<if test="zipCode != null">
				zip_code = #{zipCode,jdbcType=CHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault,jdbcType=CHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="landMark != null">
				land_mark = #{landMark,jdbcType=VARCHAR},
			</if>
		</set>
		where addr_id = #{addrId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.afd.model.user.UserAddress">
		update t_user_address
		set user_id = #{userId,jdbcType=INTEGER},
		receiver = #{receiver,jdbcType=VARCHAR},
		province = #{province,jdbcType=DECIMAL},
		province_name = #{provinceName,jdbcType=VARCHAR},
		city = #{city,jdbcType=DECIMAL},
		city_name = #{cityName,jdbcType=VARCHAR},
		district = #{district,jdbcType=DECIMAL},
		district_name = #{districtName,jdbcType=VARCHAR},
		town = #{town,jdbcType=DECIMAL},
		town_name = #{townName,jdbcType=VARCHAR},
		addr = #{addr,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=CHAR},
		zip_code = #{zipCode,jdbcType=CHAR},
		status = #{status,jdbcType=CHAR},
		is_default = #{isDefault,jdbcType=CHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		update_date = #{updateDate,jdbcType=TIMESTAMP},
		land_mark = #{landMark,jdbcType=VARCHAR}
		where addr_id = #{addrId,jdbcType=INTEGER}
	</update>
	<select id="getAddressByUserId" resultMap="resultMap">
		select 
			<include refid="Base_Column_List" />
		from t_user_address t
		<where>
			t.user_id = #{userId,jdbcType=INTEGER} and 
			t.status = '1'
		</where>
	</select>
</mapper>