<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.user.dao.UserExtMapper" >
  <resultMap id="BaseResultMap" type="com.afd.model.user.UserExt" >
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="constellation" property="constellation" jdbcType="VARCHAR" />
    <result column="home_address" property="homeAddress" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="CHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="header_pic" property="headerPic" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.afd.model.user.UserExt" >
    insert into t_user_ext (user_id, real_name, gender, 
      birthday, constellation, home_address, 
      zip_code, tel, header_pic
      )
    values (#{userId,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{constellation,jdbcType=VARCHAR}, #{homeAddress,jdbcType=VARCHAR}, 
      #{zipCode,jdbcType=CHAR}, #{tel,jdbcType=VARCHAR}, #{headerPic,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.afd.model.user.UserExt" >
    insert into t_user_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="constellation != null" >
        constellation,
      </if>
      <if test="homeAddress != null" >
        home_address,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="headerPic != null" >
        header_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="constellation != null" >
        #{constellation,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null" >
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=CHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="headerPic != null" >
        #{headerPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>