<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">	
	
	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds" />
		<property name="typeAliasesPackage" value="com.afd.model.user" />
		<property name="mapperLocations" value="classpath*:com/afd/user/sqlMapper/*.xml" />
		<property name="plugins">
			<array>
				<ref bean="pagePlugin"/>  
			</array>
		</property>
	</bean>

	<bean class="com.afd.common.mybatis.PageInterceptor" id="pagePlugin"/>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"> 
      <constructor-arg ref="sqlSessionFactory" />
    </bean> 
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="com.afd.user.dao"
		p:sqlSessionTemplateBeanName="sqlSessionTemplate"
	/>
		
</beans>